<h1>Airplanes</h1>
<a [routerLink]="['/']">Back</a>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Type ID</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let airplane of airplanes">
      <th scope="row">{{ airplane.id }}</th>
      <td>
        {{ airplane.airplaneType.id }}
      </td>
      <td>
        <button class="btn btn-danger" (click)="deleteAirplane(airplane.id)">
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
{{ diagnostic }}
<form (ngSubmit)="onSubmit()" #airplaneForm="ngForm">
  <div class="form-group">
    <label for="airplaneType">Airplane Type</label>
    <select
      class="form-control ng-untouched ng-pristine ng-valid"
      id="airplaneType"
      required
      [(ngModel)]="model.airplaneTypeId"
      name="airplaneType"
      #airplaneType="ngModel"
    >
      <option
        *ngFor="let airplaneType of airplaneTypes"
        [value]="airplaneType.id"
      >
        {{ airplaneType.id }}
      </option>
    </select>
    <div
      [hidden]="airplaneType.valid || airplaneType.pristine"
      class="alert alert-danger"
    >
      AirplaneType is required
    </div>
    <button
      type="submit"
      class="btn btn-success"
      [disabled]="!airplaneForm.form.valid"
    >
      New Airplane
    </button>
  </div>
</form>
