<!--@NotNull(message = "Route ID is required")-->
<!--@Positive(message = "Route ID must be a positive integer")-->
<!--private Long routeId;-->

<!--@NotNull(message = "Airplane ID is required")-->
<!--@Positive(message = "Airplane ID must be a positive integer")-->
<!--private Long airplaneId;-->

<!--@NotNull(message = "Departure time is required")-->
<!--private Instant departureTime;-->

<!--@NotNull(message = "Number of reserved seats is required")-->
<!--@PositiveOrZero(message = "Number of reserved seats must be 0 or greater")-->
<!--private Integer reservedSeats;-->

<!--@NotNull(message = "Seat price is required")-->
<!--@PositiveOrZero(message = "Seat price must be 0 or greater")-->
<!--private Float seatPrice;-->

<form>
  <mat-form-field>
    <mat-label>Route</mat-label>
    <mat-select>
      <mat-option value="one">First option</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Airplane</mat-label>
    <mat-select>
      <mat-option value="one">First option</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Departure Date</mat-label>
    <input matInput [matDatepicker]="picker" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Departure Time</mat-label>
    <input matInput [ngxTimepicker]="picker2" />
    <ngx-material-timepicker-toggle
      matSuffix
      [for]="picker2"
    ></ngx-material-timepicker-toggle>
    <ngx-material-timepicker #picker2></ngx-material-timepicker>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Reserved Seats</mat-label>
    <input matInput type="number" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Seat Price</mat-label>
    <input matInput type="number" step="0.01" />
    <span matPrefix>$&nbsp;</span>
  </mat-form-field>
</form>
