<div class="container">
  <div class="row">
    <div class="col">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col" *ngFor="let header of headers">
              {{ header }}
            </th>
            <th *ngIf="details"></th>
            <th *ngIf="edit"></th>
            <th *ngIf="delete"></th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let item of items
                | slice
                  : (currentPage - 1) * itemsPerPage
                  : currentPage * itemsPerPage
            "
          >
            <td *ngFor="let nestedKey of keys; index as i">
              <span [ngSwitch]="cellStyles[i]">
                <span *ngSwitchCase="CellStyle.NONE">
                  {{ findValue(item, nestedKey) }}
                </span>
                <span
                  *ngSwitchCase="CellStyle.HTML"
                  [innerHTML]="findValue(item, nestedKey)"
                >
                </span>
                <span *ngSwitchCase="CellStyle.DATE">
                  {{ findValue(item, nestedKey) | date: "short" }}
                </span>
                <span *ngSwitchCase="CellStyle.MONEY">
                  {{ findValue(item, nestedKey) | currency: "USD" }}
                </span>
              </span>
            </td>
            <td *ngIf="details">
              <button
                type="button"
                class="btn btn-secondary btn-sm"
                placement="top"
                ngbTooltip="Show Details"
                (click)="clickDetails(item)"
              >
                <i class="bi bi-info-circle"></i>
              </button>
            </td>
            <td *ngIf="edit">
              <button
                type="button"
                class="btn btn-secondary btn-sm"
                placement="top"
                ngbTooltip="edit"
                (click)="clickEdit(item)"
              >
                <i class="bi bi-pencil-square"></i>
              </button>
            </td>
            <td *ngIf="delete">
              <button
                type="button"
                class="btn btn-secondary btn-sm"
                placement="top"
                ngbTooltip="Delete"
                (click)="clickDelete(item)"
                [disabled]="item.noDelete"
              >
                <i class="bi bi-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-auto">
      <ngb-pagination
        [(page)]="currentPage"
        [pageSize]="itemsPerPage"
        [collectionSize]="totalItemsCount"
      ></ngb-pagination>
    </div>
  </div>
</div>
