<!--<div [formGroup]="rowGroup">-->
<!--  <input type="number" formControlName="no" />-->
<!--  <button type="button" (click)="addCol()">Add Col</button>-->
<!--  <div formArrayName="cols">-->
<!--    <div *ngFor="let col of cols.controls; let i = index">-->
<!--      <div [formGroupName]="i">-->
<!--        <app-col-form [colGroup]="colGroup(i)"></app-col-form>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<ng-container [formGroup]="rowGroup">
  <th>
    <div>
      <div>
        <button
          mat-icon-button
          type="button"
          color="warn"
          (click)="removeEvent.emit(idx)"
          matTooltip="Remove Row"
        >
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <mat-form-field appearance="fill">
        <mat-label>Row #</mat-label>
        <input matInput type="number" formControlName="no" />
      </mat-form-field>
    </div>
  </th>
  <ng-container formArrayName="cols">
    <ng-container *ngFor="let col of cols.controls; let i = index">
      <ng-container [formGroupName]="i">
        <ng-container
          *ngIf="colHeaders.controls[i].value.symbol !== ' '; else empty"
        >
          <td
            app-col-form
            [colGroup]="colGroup(i)"
            style="text-align: center"
          ></td>
        </ng-container>
        <ng-template #empty>
          <td></td>
        </ng-template>
      </ng-container>
    </ng-container>
    <th></th>
  </ng-container>
</ng-container>
