<div class="wide-wrapper">
  <h1>Create Seat Layout</h1>
  <div style="display: flex">
    <div style="flex: 2">
      <form [formGroup]="seatLayoutForm" (ngSubmit)="onSubmit()">
        <div formArrayName="sections">
          <div *ngFor="let section of sections.controls; let i = index">
            <div [formGroupName]="i" style="margin-bottom: 20px">
              <app-section-form
                [sectionGroup]="sectionGroup(i)"
                [idx]="i"
                (removeEvent)="removeSection($event)"
              ></app-section-form>
            </div>
          </div>
        </div>
        <div style="text-align: right; margin-bottom: 20px">
          <button
            type="button"
            (click)="addSection()"
            mat-fab
            color="accent"
            matTooltip="Add Section"
          >
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <div style="text-align: center; margin-bottom: 20px">
          <button type="submit" mat-raised-button color="primary">
            Create Layout
          </button>
        </div>
      </form>
    </div>
    <div style="flex: 1">
      <app-flight-seats
        *ngIf="seatLayout !== null"
        [seatLayout]="seatLayout"
      ></app-flight-seats>
    </div>
  </div>
</div>
