<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Route</th>
      <th scope="col">Airplane ID</th>
      <th scope="col">Departure Time</th>
      <th scope="col">Reserved Seats</th>
      <th scope="col">Seat Price</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let flight of flights">
      <th scope="row">{{ flight.id }}</th>
      <td>
        {{ flight.route.originAirport.iataId }} &rarr;
        {{ flight.route.destinationAirport.iataId }}
      </td>
      <td>{{ flight.airplane.id }}</td>
      <td>{{ flight.departureTime | date: "short" }}</td>
      <td>{{ flight.reservedSeats }}</td>
      <td>{{ flight.seatPrice | currency: "USD" }}</td>
      <td>
        <button
          type="button"
          class="btn btn-secondary btn-sm"
          placement="top"
          ngbTooltip="Show Details"
          (click)="detailedFlight(flight.id)"
        >
          <i class="bi bi-info-circle"></i>
        </button>
      </td>
      <td>
        <button
          type="button"
          class="btn btn-secondary btn-sm"
          placement="top"
          ngbTooltip="Edit"
          (click)="editFlight(flight.id)"
        >
          <i class="bi bi-pencil-square"></i>
        </button>
      </td>
      <td>
        <button
          type="button"
          class="btn btn-secondary btn-sm"
          placement="top"
          ngbTooltip="Delete"
          (click)="deleteFlight(flight.id)"
        >
          <i class="bi bi-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
