<h1 class="mt-5">Admin Panel</h1>
<ul class="list-group">
  <li class="list-group-item">
    <button [routerLink]="['/flights']" class="btn btn-primary noColor">
      🛫&nbsp;&nbsp;Flights
    </button>
  </li>
  <li class="list-group-item">
    <button class="btn btn-primary noColor">💺&nbsp;&nbsp;Seats</button>
  </li>
  <li class="list-group-item">
    <button class="btn btn-primary noColor">🎫&nbsp;&nbsp;Tickets</button>
  </li>
  <li class="list-group-item">
    <button class="btn btn-primary noColor">🧳&nbsp;&nbsp;Travelers</button>
  </li>
  <li class="list-group-item">
    <button class="btn btn-primary noColor">🏙️&nbsp;&nbsp;Airports</button>
  </li>
  <li class="list-group-item">
    <button class="btn btn-primary noColor">👔&nbsp;&nbsp;Employees</button>
  </li>
</ul>
