<h1 class="mt-5">Admin Panel</h1>
<ul class="list-group">
  <li class="list-group-item">
    <button [routerLink]="['/airplanes']" class="btn btn-primary noColor">
      Airplanes
    </button>
  </li>
  <li class="list-group-item">
    <button [routerLink]="['/airplane-types']" class="btn btn-primary noColor">
      Airplane Types
    </button>
  </li>
  <li class="list-group-item">
    <button [routerLink]="['/airports']" class="btn btn-primary noColor">
      Airports
    </button>
  </li>
  <li class="list-group-item">
    <button [routerLink]="['/flights']" class="btn btn-primary noColor">
      Flights
    </button>
  </li>
  <li class="list-group-item">
    <button [routerLink]="['/routes']" class="btn btn-primary noColor">
      Routes
    </button>
  </li>
</ul>
