<h1 mat-dialog-title>
  {{ updating ? "Update AirplaneType" : "Create AirplaneType" }}
</h1>

<form [formGroup]="airplaneTypeForm" (ngSubmit)="onSubmit()">
  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>Seat Layout</mat-label>
      <mat-select formControlName="seatLayout" required>
        <mat-option value="-1">Select a Seat Layout</mat-option>
        <mat-option *ngFor="let layout of seatLayouts" [value]="layout.id">
          {{ layout.id }}
        </mat-option>
      </mat-select>
      <mat-error
        *ngIf="airplaneTypeForm.controls['seatLayout'].errors?.required"
      >
        Seat Layout is required
      </mat-error>
      <mat-error *ngIf="airplaneTypeForm.controls['seatLayout'].errors?.min">
        Seat Layout is required
      </mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button type="button" mat-button (click)="onCancel()">Cancel</button>
    <span fxFlex></span>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!airplaneTypeForm.valid"
    >
      Submit
    </button>
  </div>
</form>
