@import "~@angular/material/theming";

@import 'app/components/layout/header/header.component.scss-theme';
@import 'app/app.component.scss-theme';
@import 'app/components/layout/footer/footer.component.scss-theme';

@mixin custom-components-them($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .mat-app-background {
    background: mat-color($background, background);
  }

  .default-primary-header {
    background: mat-color($primary);

    h1 {
      color: mat-color($primary, default-contrast);
    }
  }

  @include app-header-component-theme($theme);
  @include app-root-component-theme($theme);
  @include app-footer-component-theme($theme);
}
