@import "~@angular/material/theming";
@import "./styles/typography";
@import "./app-theme";
@import "./styles/base";
@import "./styles/global";

@include mat-core($custom-typography);

$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-pink, A200, A100, A400);
$theme: mat-light-theme($primary, $accent);
@include angular-material-theme($theme);
@include custom-components-them($theme);

$alt-primary: mat-palette($mat-yellow);
$alt-accent: mat-palette($mat-grey, 200);
$alt-theme: mat-dark-theme($alt-primary, $alt-accent);

.alternative {
  @include angular-material-theme($alt-theme);
}

.timepicker-overlay {
  z-index: 10000000 !important;
}

.timepicker-backdrop-overlay {
  z-index: 10000000 !important;
}
