<h2 class="mt-5">Flights</h2>
<button class="btn btn-primary" (click)="open()">New</button>
<input
  class="form-control ng-untouched ng-pristine ng-valid"
  id="departureTime"
  required
  name="departureTime"
  [owlDateTimeTrigger]="dtPicker1"
  [owlDateTime]="dtPicker1"
/>
<owl-date-time [hour12Timer]="true" #dtPicker1></owl-date-time>
<!--<app-flight-list-->
<!--  (detailedFlightEvent)="showFlightDetails($event)"-->
<!--  (editFlightEvent)="editFlight($event)"-->
<!--  (deleteFlightEvent)="deleteFlight($event)"-->
<!--  [flights]="flights"-->
<!--&gt;</app-flight-list>-->
<app-data-table
  [items]="flights"
  [headers]="[
    'ID',
    'Route',
    'Airplane ID',
    'Departure Time',
    'Reserved Seats',
    'Seat Price'
  ]"
  [keys]="[
    ['id'],
    ['route', 'prettyRoute'],
    ['airplane', 'id'],
    ['departureTime'],
    ['reservedSeats'],
    ['seatPrice']
  ]"
  [cellStyles]="cellStyles"
  [details]="true"
  [edit]="true"
  [delete]="true"
></app-data-table>
