<div class="modal-header">
  <h4 class="modal-title" *ngIf="flight">Flight # {{ flight.id }}</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <ul *ngIf="flight">
    <li>Seat Price: {{ flight.seatPrice | currency: "USD" }}</li>
    <li>Reserved Seats: {{ flight.reservedSeats }}</li>
    <li>Departure: {{ flight.departureTime | date: "short" }}</li>
    <li>
      Route: {{ flight.route.originAirport.iataId }} &rarr;
      {{ flight.route.destinationAirport.iataId }}
    </li>
    <li>
      Airplane:
      <ul>
        <li>ID: {{ flight.airplane.id }}</li>
        <li>Max Capacity: {{ flight.airplane.airplaneType.maxCapacity }}</li>
      </ul>
    </li>
  </ul>
</div>
<div class="modal-footer"></div>
